# Ignore output directories
outputs/

# Ignore common object files and executables
*.o
*.out
*.exe
*.log
*.tar
*.txt
*.png

# Ignore VSCode/.idea project files (optional)
.vscode/
.idea/

# Ignore OS files
.DS_Store
Thumbs.db
